include ../_components/html

+doc()
  +head()
  +body()
    .container
      h3= section
      form(method='POST' action='/cities')
        div.form-group
          label(for='city') City:
          input#city(type='text', placeholder='City name' name='name')
        button(type='submit') Submit
      p
        a(href='/') Home
